<ion-header >
	<ion-navbar align-title="center" color="ffPrimary" style="padding-right:5rem;">
		<ion-title>{{company_details.company_name}}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content (click)="hideHead()" class="separatingBG">
	<!-- <div id="spinner-background" class="centered-spinner">
		<ion-spinner id="ion-spinner" name="bubbles" *ngIf="loading"></ion-spinner>
	</div> -->

	<!--contact pull-->
	<ion-refresher (ionRefresh)="showHead($event)" (click)="hideHead()">
		<div class="center-vertical" style="text-align: center;">
			<a href="https://www.facebook.com/fastforwardsim/"><i class="fa fa-facebook-square contact-icon" style="margin-left:0px!important" aria-hidden="true"></i></a>
			<a href="https://www.instagram.com/fastforwardsim"><i class="fa fa-instagram contact-icon" aria-hidden="true"></i></a>
			<a href="mailto:support@fastforwardsim.com"><i class="fa fa-envelope contact-icon" aria-hidden="true"></i></a>
			<a href="https://www.google.com/maps?ll=30.037291,31.201774&z=17&t=m&hl=en-US&gl=EG&mapclient=embed&q=69+Iran+Ad+Doqi+Giza+Governorate"><i class="fa fa-map-marker contact-icon" aria-hidden="true"></i></a>
			<a href="tel:01120055087"><i class="fa fa-phone-square contact-icon" aria-hidden="true"></i></a>
		</div>
		<style>
		.center-vertical{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
		.contact-icon{
			font-size: xx-large;
			margin-left: 20px;
			vertical-align: middle;
			color:#f85a51;
		}
		</style>
	</ion-refresher>
	<!--contact-pull-->


	<!-- <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.profilePic + ')'"> -->
	<div class="item-profile" text-center #profilePic [style.background-image]="'url('+company_details.cover_pic_link+')'" style="box-shadow: 0px 10px 15px #ccc;height: 45vw;background-size: 100% 100%;">
	</div>

	<!-- <ion-avatar class="circular-profile" > </ion-avatar> -->
	<ion-avatar class="circular-profile" [style.background-image]="'url('+company_details.profile_pic_link+')'" style="background-repeat: no-repeat;background-position: 50%;background-size: contain;border-radius: 50%;">
		<!-- <img style="border-radius:50%;width:35vw;height:35vw;"src="{{company_details.profile_pic_link}}"> -->
	</ion-avatar>
	<div style="top:-20vw;position:relative;">
		<div  >
			<p text-center class="" style="width:80%;margin-left:auto;margin-right:auto;  text-align: justify;text-justify: inter-word;">{{company_details.description}}</p>
			<div text-center >
				<h3 text-center style="display:inline-block;margin-left:auto;margin-right:auto;" ion-text color="ffPrimary" >{{company_details.followers}} <i class="fa fa-user" aria-hidden="true"></i></h3>
				<h3 text-center style="display:inline-block;margin-left:auto;margin-right:auto;padding-left:12vw;" ion-text color="ffPrimary" >{{company_details.rating}}/5 <i class="fa fa-star" aria-hidden="true"></i></h3>
			</div>
			<div style="text-align: center;">
				<button ion-button round style="display: inline-block;" color="ffPrimary" (click)="follow=follow=='Follow'?'Unfollow':'Follow'"  [color]="follow=='Follow'?'primary':'grey'">{{follow}}</button>
				<button ion-button round style="margin-left: 5px;display: inline-block;" color="ffPrimary" (click)="open_email_content_popup()">Message</button>
			</div>
		</div>
		 <br><br>
			<div class="center-vertical" style="text-align: center;">
			<a href="https://www.facebook.com/fastforwardsim/"><i class="fa fa-facebook-square contact-icon" style="margin-left:0px!important" aria-hidden="true"></i></a>
			<a href="https://www.google.com/maps?ll=30.037291,31.201774&z=17&t=m&hl=en-US&gl=EG&mapclient=embed&q=69+Iran+Ad+Doqi+Giza+Governorate"><i class="fa fa-map-marker contact-icon" aria-hidden="true"></i></a>
			<a href="tel:01120055087"><i class="fa fa-phone-square contact-icon" aria-hidden="true"></i></a>

			</div>
		<ion-card *ngFor="let simulation of company_simulations; let i = index">

			<ion-item>
				<ion-avatar item-left [style.background-image]="'url('+company_details.profile_pic_link+')'" style="background-repeat: no-repeat;background-position: 50%;background-size: contain;border-radius: 50%;"></ion-avatar>
				<h2><strong>{{company_details.company_name}}</strong></h2>
				<!-- <p>{{simulation.date | date: "dd/MM/yyyy HH:mm a"}}</p> -->
				<!--<h2 style="color:#24b950" item-end><strong>{{simulation.price}}</strong> EGP </h2> -->
				<h2 style="color:#24b950" item-end><strong>NA</strong> </h2>
			</ion-item>

			<!-- <img src="{{company_details._pic_link}}" /> -->

			<ion-card-content>
				<!-- {{simulation.simulation_name}} -->
				<!-- <div style="color:green">
				Dates: <br> 17 Jan, 11:00 AM<br>
				20 Feb, 7:00 AM
				<br>
			</div> -->
			{{simulation.description}}
				<!-- <br>
				Introduction: <br>Students will try out the mobile application development simulation in our work place.
				<a style="color:#f85a51" href="#" *ngIf="!read_more[i]"(click)="read_more[i]=true"> <strong>read more..</strong></a>
				<br>
				<br>
				<span *ngIf="read_more[i]" >
					Requirements:<br>
					- GPA > 2.0 <br>
					- University Student <br>
					- Loving Nature
					<br>
					<br>
					Tools: Mobile First which is a very important thing in life and stuff about it.
				</span> -->
			</ion-card-content>

			<ion-row><ion-col col-5>
				<div  style="color:#24b950; text-align:center;padding-left: 20px;margin-right: auto;font-size: 17px;">
					<i class="fa fa-users" aria-hidden="true"></i>
					<strong> {{simulation.number_of_applicants}}</strong>
				</div></ion-col>
				<ion-col col-6 style="text-align:right;text-transform:uppercase;z-index: 10000;" (click)="goToProfile()"><p style="color:#F84838;font-weight:bold;" >{{simulation.status}}</p></ion-col>
			</ion-row>
			<ion-row>
				<!-- <ion-col>
					<button ion-button icon-left clear small>
						<ion-icon name="thumbs-up"></ion-icon>
						<div>{{simulation.votes}} Like{{simulation.votes==1?"":"s"}}</div>
					</button>
				</ion-col> -->
				<ion-col>
					<button ion-button block  style="height: 50px;font-size: 17px;" color="ffPrimary" (click)="presentActionSheet(simulation,$event)"><strong>APPLY</strong></button>
				</ion-col>
				<!-- <ion-col col-2>
					<button ion-button outline style="padding-left:10px;padding-right:10px;height: 50px;" color="ffPrimary"><i style="font-size: 28px;" class="fa fa-calendar-plus-o"></i></button>
				</ion-col> -->
			</ion-row>

		</ion-card>
	</div>
</ion-content>
