


<ion-header>
  <ion-toolbar [style.height]="ios?'70px':''">
    <ion-title style=" width:100%;display:inline-block;" [style.margin-top]="ios?'15px':''">
      <!-- <div *ngIf="true" ></div> -->
      <h3 style="color:#F84838;display:inline-block;font-weight:bold;font-size:1.4rem">FAST</h3>
      <h3 style="color:black;display:inline-block;font-weight:bold;font-size:1.4rem"> FORWARD</h3>

    </ion-title>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary" style="position: absolute;
      z-index: 21;
      top: -15px;
      right: 2px;">Skip</button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides; let i = index">
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" style="color:#F84838;" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"> i</p>
      <button *ngIf="i==slides.length-1" text-center ion-button icon-end large block style="width:80%;margin-right: auto; margin-left: auto;bottom: -7rem;"
        (click)="startApp()">
        Get Started
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>