<ion-header>

  <ion-navbar style="min-height: 0.4px;
  height: 3.5rem;">
    <!-- 
    <ion-title>Samples</ion-title>-->
    <ion-row style="text-align:center; height:100%">

      <ion-col col-6>
        <div style="border-right:1px solid grey">
          <strong style="text-align:left; font-size:1.2rem">
            <span style="margin-right:30%; font-weight:normal; color:#909090;">Unlocks</span>
            <span style="color:#404040"> {{wallet}}</span>
          </strong>
        </div>
      </ion-col>
      <ion-col col-5>
        <div (click)="getMore()">

          <strong style="text-align:left; font-size:1.2rem">
            <span style="margin-right:40%; font-weight:normal; color:#909090;">Get more</span>
            <ion-icon name="unlock" style="color:#404040"></ion-icon>
          </strong>

        </div>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>

<ion-content class="cards-bg" class="separatingBG">
  <div text-center>
    <ion-spinner [hidden]="!isLoading" color="primary"></ion-spinner>
    <p class="error-message" text-center [hidden]="!errorMessage">{{errorMessage}}</p>
    <button ion-button block icon-left (tap)="loadMediaSamples()" [hidden]="!errorMessage">
      <ion-icon name="refresh"></ion-icon>
      Retry
    </button>
  </div>

  <ion-card>
    <div (tap)="openVideoClick(media)">
      <media-sample-item [mediaSample]="openVideo"></media-sample-item>
    </div>
  </ion-card>

  <ion-card *ngFor="let media of mediaSamples" style="color:#404040">
    <div style=" padding-top:1rem; padding-bottom:1.5rem">
      <p style="padding-left:1.5rem;text-align:left;float:left">
        <strong>{{media.video_name}}</strong>
      </p>
      <div *ngIf="!media.locked" style="padding-right:1.5rem;text-align:right; float:right" (click)="selectQuality(media)">
        <ion-icon name="settings" [color]='settingsColor' style="font-size:2.5rem;padding-bottom:0.3rem"></ion-icon>
      </div>
    </div>
    <div (tap)="onMediaSampleitemClick(media)">
      <media-sample-item [mediaSample]="media"></media-sample-item>
    </div>
    <!-- 
    <ion-row>
      <div style="text-align:center"> 
        <p> hell ya</p>
        <ion-icon name="fastforward" > </ion-icon>
      </div> 
    </ion-row> -->
    <div style="font-size:1.2rem;">
      <div style="padding-left:1.5rem;float:left" >
        <strong>Rating : </strong>{{media.avg_rating}}/5
        <br>
        <br>
      </div>

      <div *ngIf="!media.locked" style="padding-right:1.5rem;float:right; ">
        <strong>Unlock Time: </strong>
        <span style="color:green">
          {{media.diffmins}} min
        </span>
      </div>

      <div *ngIf="media.locked" style="padding-right:1.5rem;float:right; ">
        <strong>Duration: </strong>
        <span style="color:green">
          {{media.duration}}
        </span>
      </div>


    </div>
    <br>
    <div style="padding-left:1.5rem;padding-bottom:1.5rem; float:left; font-size: 1.2rem;width:100%">
      {{media.description}}
    </div>
    <br>

    <div *ngIf="!media.locked" style="padding-left:1.5rem;float:left; ">
        <button ion-button round style="display: inline-block;" color="grey" (click)="selectPart(media)">
          <strong style="padding-right:1rem"> Jump to </strong>
          <span style="color:white">
            <ion-icon name="arrow-down" > </ion-icon>
          </span>
        </button>
      </div>

    <div *ngIf="!media.locked" style="width:70%;margin-left:4rem">
      <ion-rating [numStars]="5" [readOnly]="false" [value]="0" (clicked)="starClicked($event, media)">
      </ion-rating>
    </div>
    <!--
          <ion-col col-4>
          <button ion-button clear small [color]='dark' icon-start>
              <ion-icon name='thumbs-up'></ion-icon>
              Like
          </button>
          </ion-col>
         
        -->
    <!--
    <ion-col col-12 style="text-align:center">
      <button ion-button clear small [color]='unlockColor' icon-start>
        <ion-icon name='ios-unlock'></ion-icon>
        UnLock
      </button>
    </ion-col>-->

  </ion-card>
</ion-content>