page-vr-video {

    .bar-header{
        background-color: red ;
        height: 3rem ;
    }
    .button-round{ 
        border-radius: 2px;
        padding:1rem ; 

    }
    .button {
        font-size: 1.3rem ;
        height: 2.2rem; 
    }
  
  
}
